In [1]:
import pandas as pd
import numpy as np

import core

%load_ext autoreload
%autoreload 2

In [6]:
df = pd.DataFrame(np.random.randint(0, 100, (5, 5)), columns=['one','two','three','four','five'])
df

   one  two  three  four  five
0   25   66     53    46    92
1   46   18     85    91    98
2   69    5     64    30    51
3   71   57      9    40    91
4   34   90     11    44    97

In [13]:
ranked_df = df.rank(method='first')
fwd_df = 2 * df

In [12]:
ranked_df

   one  two  three  four  five
0  1.0  4.0    3.0   4.0   3.0
1  3.0  2.0    5.0   5.0   5.0
2  4.0  1.0    4.0   1.0   1.0
3  5.0  3.0    1.0   2.0   2.0
4  2.0  5.0    2.0   3.0   4.0

In [3]:
mom = core.XSMomentum(df, lookback_period=2, holding_period=2, sort_type='total_return', weight_type='decile_equal_weighted', buckets=5)
mom.compute_return_series()

0         NaN
1         NaN
2   -1.302352
3         NaN
4         NaN
dtype: float64

In [4]:
mom._sort_return_series()

          0    1     2         3         4
0       NaN  NaN   NaN       NaN       NaN
1       NaN  NaN   NaN       NaN       NaN
2  0.578947  inf  18.5 -0.604396 -0.723404
3       NaN  NaN   NaN       NaN       NaN
4       NaN  NaN   NaN       NaN       NaN

In [5]:
 m._get_portfolio_weights

     0    1    2    3    4
0 -1.0  0.0  0.0  0.0  1.0
1 -1.0  0.0  0.0  0.0  1.0
2 -1.0  0.0  0.0  0.0  1.0
3 -1.0  0.0  0.0  0.0  1.0
4 -1.0  0.0  0.0  0.0  1.0