In [1]:
import pandas as pd
import numpy as np

import core

%load_ext autoreload
%autoreload 2

In [2]:
df = pd.DataFrame(np.random.randint(0, 100, (5, 5)), columns=['one','two','three','four','five'])
df

   one  two  three  four  five
0   98   39     25    41    47
1   48   78     86    11    96
2   51   52     13    18    88
3   48   29     40    62    84
4   99   47     71    18    17

In [13]:
ranked_df = df.rank(method='first')
fwd_df = 2 * df

In [12]:
ranked_df

   one  two  three  four  five
0  1.0  4.0    3.0   4.0   3.0
1  3.0  2.0    5.0   5.0   5.0
2  4.0  1.0    4.0   1.0   1.0
3  5.0  3.0    1.0   2.0   2.0
4  2.0  5.0    2.0   3.0   4.0

In [3]:
mom = core.XSMomentum(df, lookback_period=2, holding_period=2, sort_type='total_return', weight_type='decile_equal_weighted', buckets=5)
mom.compute_return_series()

0         NaN
1         NaN
2   -1.302352
3         NaN
4         NaN
dtype: float64

In [4]:
mom._sort_return_series()

          0    1     2         3         4
0       NaN  NaN   NaN       NaN       NaN
1       NaN  NaN   NaN       NaN       NaN
2  0.578947  inf  18.5 -0.604396 -0.723404
3       NaN  NaN   NaN       NaN       NaN
4       NaN  NaN   NaN       NaN       NaN

In [15]:
 m._get_portfolio_weights

NameError: name 'm' is not defined

In [3]:
import datatable

In [5]:
datatable.ExampleComponent()

Help on class ExampleComponent in module builtins:

class ExampleComponent(dash.development.base_component.Component)
 |  A ExampleComponent component.
 |
 |
 |  Keyword arguments:
 |  - id (string; optional): The ID used to identify this component in Dash callbacks
 |
 |  Available events:
 |
 |  Method resolution order:
 |      ExampleComponent
 |      dash.development.base_component.Component
 |      collections.abc.MutableMapping
 |      collections.abc.Mapping
 |      collections.abc.Collection
 |      collections.abc.Sized
 |      collections.abc.Iterable
 |      collections.abc.Container
 |      object
 |
 |  Methods defined here:
 |
 |  __init__(self, **kwargs)
 |
 |  __repr__(self)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from dash.development.base_component.Component:
 |
 |  __delitem__(self, id)
 |      Delete items by ID in the tree of children.
 |
 |  __getitem__(self, id)
 |      Recursively find the element with the given ID through the tree
 |      of children.
 |
 |  __iter__(self)
 |      Yield IDs in the tree of children.
 |
 |  __len__(self)
 |      Return the number of items in the tree.
 |
 |  __setitem__(self, id, item)
 |      Set an element by its ID.
 |
 |  to_plotly_json(self)
 |
 |  traverse(self)
 |      Yield each item in the tree.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from dash.development.base_component.Component:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from collections.abc.MutableMapping:
 |
 |  clear(self)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  pop(self, key, default=<object object at 0x10384e050>)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised.
 |
 |  popitem(self)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair
 |      as a 2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(self, key, default=None)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(*args, **kwds)
 |      D.update([E, ]**F) -> None.  Update D from mapping/iterable E and F.
 |      If E present and has a .keys() method, does:     for k in E: D[k] = E[k]
 |      If E present and lacks .keys() method, does:     for (k, v) in E: D[k] = v
 |      In either case, this is followed by: for k, v in F.items(): D[k] = v
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from collections.abc.Mapping:
 |
 |  __contains__(self, key)
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  get(self, key, default=None)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(self)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(self)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  values(self)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from collections.abc.Mapping:
 |
 |  __hash__ = None
 |
 |  __reversed__ = None
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from collections.abc.Collection:
 |
 |  __subclasshook__(C) from abc.ABCMeta
 |      Abstract classes can override this to customize issubclass().
 |
 |      This is invoked early on by abc.ABCMeta.__subclasscheck__().
 |      It should return True, False or NotImplemented.  If it returns
 |      NotImplemented, the normal algorithm is used.  Otherwise, it
 |      overrides the normal algorithm (and the outcome is cached).