In [8]:
import pandas as pd
import numpy as np

import core

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [53]:
df = pd.DataFrame(np.random.randint(0, 100, (5, 5)), columns=['one','two','three','four','five'])
df

   one  two  three  four  five
0   54   56     76    64    37
1   28   81      6    20    69
2   41    2     14    64     6
3   65   87     87    22     7
4   65   30     40    67    55

In [82]:
mom = core.XSMomentum(df, lookback_period=2, holding_period=2, sort_type='total_return', weight_type='decile_equal_weighted', buckets=5)
mom.compute_return_series()

0    4.849593
1    9.426374
2   -0.521678
3         NaN
4         NaN
dtype: float64

In [78]:
mom._sort_return_series()

          0          1         2         3         4
0  0.317073  27.000000  4.428571  0.000000  5.166667
1 -0.569231  -0.068966 -0.931034 -0.090909  8.857143
2 -0.369231  -0.933333 -0.650000 -0.044776 -0.890909
3       NaN        NaN       NaN       NaN       NaN
4       NaN        NaN       NaN       NaN       NaN

In [81]:
mom._get_portfolio_weights()

     0    1    2    3    4
0 -1.0  0.0  0.0  0.0  1.0
1 -1.0  0.0  0.0  0.0  1.0
2 -1.0  0.0  0.0  0.0  1.0
3 -1.0  0.0  0.0  0.0  1.0
4 -1.0  0.0  0.0  0.0  1.0